<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Mi Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="header-top">
            <img class="logoML" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <div class="input"><input type="text" placeholder="Buscar productos, marcas"><i class="search-bar fas fa-search"></i></div>
            <p class="linea-compra"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="navbar header-bottom">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Crea tu cuenta</a><i class="far fa-address-card"></i></li>
                    <li><a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
        </nav>
        <div class="burger-menu">
            <a href=""><i class="fas fa-bars"></i></a>
        </div>
            <img class="img-center banner" src="/images/img-home-banner.jpg" alt="home banner">
        </a>
    </header>

    <main>
        <h2 class="titulares">Basado en tu última visita</h2>
        <section>
            <article class="articulo">
                <div class="article-box">
                    <img class="imagen-producto" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="caja-articulo">
                        <div class="icono-delivery"><i class="fas fa-truck"></i></div>
                        <div class="precio-y-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article class="articulo">
                <div class="article-box">
                    <img class="imagen-producto" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <div class="caja-articulo">
                        <div class="icono-delivery"><i class="fas fa-truck"></i></div>
                        <div class="precio-y-descuento">
                            <p class="precios">$230</p>
                            <p class="descuentos">20% OFF</p>
                        </div>
                        <p class="descripciones">MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article class="articulo">
                <div class="article-box">
                    <img class="imagen-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">                
                    <div class="caja-articulo">
                        <div class="icono-delivery"><i class="fas fa-truck"></i></div>
                        <div class="precio-y-descuento">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% OFF</p>
                        </div>
                        <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>
            <article class="articulo">
                <div class="article-box">
                    <img class="imagen-producto" src="/images/img-tv-samsung-smart.jpg" alt="SmartTV Samsung 43">
                    <div class="caja-articulo">
                        <div class="icono-delivery"><i class="fas fa-truck"></i></div>
                        <div class="precio-y-descuento">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% OFF</p>
                        </div>
                        <p class="descripciones">SmartTV Samsung 43"</p>
                    </div>
                </div>
            </article>
        </section>

        <h2 class="titulares">Ofertas</h2>
        <section>
            <article class="articulo">
                <div class="article-box">
                    <img class="imagen-producto" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="caja-articulo">
                        <div class="icono-delivery"><i class="fas fa-truck"></i></div>
                        <div class="precio-y-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article class="articulo">
                <div class="article-box">
                    <img class="imagen-producto" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <div class="caja-articulo">
                        <div class="icono-delivery"><i class="fas fa-truck"></i></div>
                        <div class="precio-y-descuento">
                            <p class="precios">$230</p>
                            <p class="descuentos">20% OFF</p>
                        </div>
                        <p class="descripciones">MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article class="articulo">
                <div class="article-box">
                    <img class="imagen-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="caja-articulo">
                        <div class="icono-delivery"><i class="fas fa-truck"></i></div>
                        <div class="precio-y-descuento">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% OFF</p>
                        </div>
                        <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>
            <article class="articulo">
                <div class="article-box">
                    <img class="imagen-producto" src="/images/img-tv-samsung-smart.jpg" alt="SmartTV Samsung 43">
                    <div class="caja-articulo">
                        <div class="icono-delivery"><i class="fas fa-truck"></i></div>
                        <div class="precio-y-descuento">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% OFF</p>
                        </div>
                        <p class="descripciones">SmartTV Samsung 43"</p>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <div class="iconos"><i class="fas fa-credit-card"></i></div>
            <h3 class="titulares-pie">Paga con tarjeta o en efectivo</h3>
            <p class="cuerpo-de-texto-pie">Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div class="iconos"><i class="fas fa-gift"></i></div>
            <h3 class="titulares-pie">Envío gratis desde $ 2.500</h3>
            <p class="cuerpo-de-texto-pie">Solo por estar registrad@ en Mercado Liebre tienes envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div class="iconos"><i class="fas fa-user-shield"></i></div>
            <h3 class="titulares-pie">Seguridad, de principio a fin</h3>
            <p class="cuerpo-de-texto-pie">¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
            <br>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>